.heading1Size {
font-size: 36px;
}
#titleBox  {
width: 356px;
padding: 26px 0 26px 48px;
}
#safeIcon {
left: -25px;
height: 65px;
width: 65px;
background-size: 65px 65px;
}
#subTitleBox  {
top: 165px
}
#URLBox  {
top: 260px
}
#mainEditBox  {
top: 415px;
}
#mainEditBoxLower  {
top: 840px;
}
    