#homeIcon  {
left: 23px;
top:22px;
width: 44px;
height: 44px;
background-size: 44px 44px;
}
#mailIcon  {
right: 90px;
top: 23px;
width: 65px;
height: 37px;
background-size: 65px 37px;
}
#settingsIcon  {
right: 35px;
top:20px;
width: 41px;
height: 41px;
background-size: 41px 41px;
}
.heading1Size {
font-size: 40px;
}
#titleBox  {
top: 70px;
width: 356px;
padding: 26px 0 26px 48px;
}
#safeIcon {
left: -35px;
height: 70px;
width: 70px;
background-size: 70px 70px;
}
#subTitleBox  {
top: 185px
}
#URLBox  {
top: 290px
}
#mainEditBox  {
top: 455px;
}
#mainEditBoxLower  {
top: 890px;
}
    