.subCategoriesPopUpMenu {   
width: 220px;
margin: 0 0 0 -110px; 
}
.button {
width: 180px;
}
.heading1Size {
font-size: 48px;
}
#homeIcon  {
left: 20px;
top:20px;
width: 48px;
height: 48px;
background-size: 48px 48px;
}
#settingsIcon  {
right: 20px;
top:20px;
width: 48px;
height: 48px;
background-size: 48px 48px;
}
#addMySiteButton {
right: 180px;
top: 22px;
width: 160px;
height: 40px;
padding: 8px 0px 5px 0;
border-width: 3px;
font-size: 16px;
}
#safeLogo {
top: 160px;
margin: 0 0 0 -70px;
width: 140px;
height: 140px;
background-size: 140px 140px;
} 
#title {
top: 330px;
width: 340px;
margin: 0 0 0 -170px;
}
#searchBoxWrapper {
width: 60%;
top: 460px;
margin: 0 0 0 -30%;
}
#categoryButtonsWrapper {
top: 590px;
width: 660px;
margin: 0 0 0 -330px;
}
#workButton {
margin: 0 0 0 -90px;
}
#connectButton {
left: 120px;
top: 110px;
}
#tradeButton {
right: 120px;
top: 110px;
}


    