.button {
width: 130px;
}
#homeIcon  {
left: 15px;
top:15px;
width: 44px;
height: 44px;
background-size: 44px 44px;
}
#settingsIcon  {
right: 15px;
top:15px;
width: 44px;
height: 44px;
background-size: 44px 44px;
}
#addMySiteButton {
right: 100px;
top: 19px;
width: 130px;
height: 34px;
font-size: 15px;
}
#safeLogo {
top: 105px;
}
#title {
top: 245px;
}
#searchBoxWrapper {
width: 70%;
top: 345px;
margin: 0 0 0 -35%;
}
#searchButton {
width: 117px; 
padding: 4px 7px 4px 26px; 
font-size: 18px;
}
#searchBox {
left: 123px;
width: 80%;
height: 44px;
font-size: 18px; 
}
#categoryButtonsWrapper {
top: 450px;
width: 510px;
margin: 0 0 0 -255px;
}
#workButton {
margin: 0 0 0 -65px;
}
#connectButton {
left: 100px;
top: 90px;
}
#tradeButton {
right: 100px;
top: 90px;
}